version: "3"

services:
  backend:
    command: >
      sh -c "python main.py"
    build:
      context: ./backend
      dockerfile: Dockerfile
    volumes:
      - ./backend:/backend
    ports:
      - "80:80"
